
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('dashboard') }}">Личный кабинет</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Вход</a></li>
            <li><a href="{{ url_for('register') }}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}