{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
<h1>Привет, {{ name }}!</h1>

<p>Это ваш личный кабинет.</p>

<a href="{{ url_for('create_tournament') }}">Создать новый турнир</a>

<h2>Ваши турниры:</h2>
<ul>
    {% for tournament in current_user.tournaments %}
        <li>
            <strong>{{ tournament.name }}</strong><br>
            {{ tournament.description }}<br>
            <form action="{{ url_for('delete_tournament', tournament_id=tournament.id) }}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </li>
    {% else %}
        <p>У вас пока нет созданных турниров.</p>
    {% endfor %}
</ul>
{% endblock %}